# Environment files — never push secrets
.env
*.env
.env.*

# RSA Keys — never push private keys
keys/
*.pem
*.key

# Node modules
node_modules/
npm-debug.log

# Logs
*.log
audit.log

# SonarQube
.scannerwork/

# Terraform state — contains secrets
*.tfstate
*.tfstate.backup
.terraform/
*.tfvars

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Docker
.dockerignore
# Large binary files
kubectl
minikube-linux-amd64
postman.tar.gz
codeql-bundle-linux64.tar.gz
*.zip
*.tar.gz
*.tar
*.bin
# Terraform providers (large binaries)
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
terraform-provider-*
